
/* Search form of admin */
#listing-search .input-group-btn button.btn,#listing-search .input-group .form-control,#listing-search .append-icon{
    border-radius: 0 !important;
}

.card-header-form:not(.padding){
    flex:1;
}
.form-control.is-invalid~.invalid-feedback {
    color: red;
}
#listing-search .append-icon {
    height: 31px;
}   
.header-cart-btm {
    border-radius: 0 !important;
    margin-top: 0px !important;
    margin-left: 10px;
}
.empty_records {
    text-align: center;
}
.main-footer .footer-left img {
    max-width: 130px;
}
.mini-logo {
    display: none;
}
.sidebar-mini .mini-logo {
    display: block;
}
.sidebar-mini .main-logo {
    display: none;
}
.sidebar-mini .main-sidebar .sidebar-brand a {
    width: 54px !important;
}
.card-header.right-align-btn-sub {
    justify-content: space-between;
}
img.main-logo {
    max-width: 229px;
}
.input-group-text.append-icon.daterange-appply-icon i{
    font-size: 17px;
}
.doller-input-field {
    position: relative;
}
.doller-symbol-txt {
    position: absolute;
    top: 15px;
    left: 19px;
    line-height: 1;
}
.doller-input-field .form-control {
    padding-left: 30px !important;
}
