/* webfonts */

@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-ExtraLight.ttf');
    font-weight:100;
}
@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-Light.ttf');
    font-weight:300;
}
@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-Regular.ttf');
    font-weight:500;
}
@font-face {
    font-family: "DM-Sans"; 
    src: url('../fonts/DMSans-Medium.ttf');
    font-weight:400;
}
@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-SemiBold.ttf');
    font-weight:600;
}

@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-Bold.ttf');
    font-weight:700;
}
@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-ExtraBold.ttf');
    font-weight:800;
}

@font-face {
    font-family: "DM-Sans";
    src: url('../fonts/DMSans-Black.ttf');
    font-weight:900;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/AeonikTRIAL-Regular.otf');
    font-weight:400;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/AeonikTRIAL-Light.otf');
    font-weight:300;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/AeonikTRIAL-Bold.otf');
    font-weight:700;
}


/* webfonts end */

:root {
    --primary-color: #BAE8E8;
    --secondary-color: #272643;
    --white:#fff;
    --black: #000;
    --border-color:#E8E8E8;
    --text-color: #5C5C5C;
    --heading-color: #272643;
    
}




